body {
  /* background-image: url(https://images.pexels.com/photos/757170/pexels-photo-757170.jpeg) */
  background: rgb(94, 92, 92);
  background: linear-gradient(
    90deg,
    rgba(94, 92, 92, 1) 0%,
    rgba(120, 120, 116, 1) 20%,
    rgba(161, 161, 161, 1) 50%,
    rgba(120, 120, 116, 1) 80%,
    rgba(94, 92, 92, 1) 100%
  );
  overflow: scroll;
}

.signMain {
  position: relative;
  top: 120px;
  width: 400px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  padding: 2%;
  font-family: sans-serif;
}

.signupMain {
  width: 800px;
}

.signHr {
  width: 750px;
  margin: 0 auto;
}

main h1 {
  margin: 2%;
  position: relative;
  top: -5px;
  color: darkslategray;
}

main section {
  margin: 5%;
}

section label {
  position: relative;
  top: 6px;
  left: -5px;
  color: slategray;
}

main span {
  color: slategray;
  position: relative;
  top: -10px;
}

.spanHr {
  width: 350px;
  margin: 0 auto;
}

.skillSelection input {
  margin-top: 10px;
}

.tellUsHr {
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 5px;
}

section input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
}

.firstName,
.lastName {
  display: inline;
}

main h3 {
  margin: 10px;
  color: darkslategray;
}

.skillSelection input {
  width: auto;
  height: auto;
}

.skillSelection label {
  top: 2px;
  left: -5px;
  margin: 10px;
}

.brandSelection label {
  top: -10px;
  left: 0;
  margin: 10px;
}

.sign-btn {
  padding: 5px;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  font-size: 1em;
  font-weight: bold;
  border: 0;
  margin: 0 5%;
}

.signin-btn {
  background-color: aquamarine;
}

.signup-btn {
  background-color: lightgreen;
}
