* {
    margin: 0;
    padding: 0;
}

/* ===> Header <==== */
header {
    height: 30px;
    width: 100vw;
    background: rgba(0, 0, 255, 0);
    padding: 20px;
    margin-bottom: 25px;
    position: fixed;
    z-index: 9999;
  }

header img {
    float: left;
}

header ul {
    float: right;
}

header ul li {  
    display: inline;8%
    margin: 0px 30px;
    list-style: none;
    line-height: 20px;
}

header ul a {
    text-decoration: none;
}

header #branding{
    float: left;
}

header #branding .highlight{
    margin: 0px;
    padding: 0px;
    margin: auto;
    position: relative;
}

header nav{
    float: right;
    margin-top: 10px;
}


header .current a{
    color: #f17603;
    font-weight: bold;
}

header a:hover{
    color:green;
    font-weight: bold;
}

/* ===> Global <==== */

/* table header */
.quantity {
    width: 40px;
}
.item {
    width: 250px;
}
.price {
    width: 140px;
}
.total {
    width: 180px;
}
.address {
    width: 300px;
}
/* table */
#table-div {
    position: relative;
    width: 80vw;
    height: 70vh;
    top: 120px;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 18px;
}

table {
    position: static;
}

td:nth-child(2),td:nth-child(4) {
    text-align: left;
    padding:10px;
}

td:nth-child(3), td:nth-child(5){
    text-align: right;
    padding: 10px;
}

td, th{
    border: 1px solid lightgray;
    text-align: center;
}

tr {
    height: 80px;
}

td img {
    width: 40px;
    height: 40px;
}

.alamat {
    overflow-Y: scroll;
    max-height: 50px;
    max-width: 300px;
}



/* ===> Footer <=== */

footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
}