* {
    margin: 0;
    padding: 0;
}

/* ===> Header <==== */
header {
    height: 30px;
    width: 98%;
    background: rgba(0, 0, 255, 0);
    padding: 20px;
    margin-bottom: 25px;
    position: fixed;
    z-index: 9999;
  }

header img {
    float: left;
}

header ul {
    float: right;
}

header ul li {  
    display: inline;
    margin: 0px 30px;
    list-style: none;
    line-height: 20px;
}

header ul a {
    text-decoration: none;
}

header #branding{
    float: left;
}

header #branding .highlight{
    margin: 0px;
    padding: 0px;
    margin: auto;
    position: relative;
}

header nav{
    float: right;
    margin-top: 10px;
}


header .current a{
    color: #f17603;
    font-weight: bold;
}

header a:hover{
    color:green;
    font-weight: bold;
}

/* ===> Global <==== */



/* ===> Footer <=== */
footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
    
  }